html, body{
height: 100vh;
width: 100vw;
}

.grid-container1{
display: grid;
grid-template-columns: 20% 80%;
height: 100%;
}
.content{
    height: 100%;
}
.content h1{
    height: 10%;
}

.grid-container2{
    display: grid;
    grid-template-columns: auto auto;
    height: 50%;
}
div{
    border: 1px solid blue;
}
.footer{
    position: fixed;
    bottom: 0px;
    width:100%;
}